body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.box {
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 100px;
}

.table td
 {
    vertical-align: middle;
}
.table{
        table-layout:fixed;
         width: 100%;


}
.container {
    max-width: 850px;
}